<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>Geladeira Vazia</strong>
		</ion-title>
		<br/>
		<ion-avatar slot="end">
			<img src="https://randomuser.me/api/portraits/lego/8.jpg"></ion-avatar>
		</ion-toolbar>
	</ion-header>

<ion-content>
 
  <br/><br/><br/><br/><br/>
    <ion-item>
      <ion-label position="floating">Digite os ingreditentes que você tem</ion-label>
      <ion-input></ion-input>
    </ion-item>


    
    <br/><br/>
    <ion-item>
      <ion-label>açucar</ion-label>
      <ion-checkbox color="primary" slot="start" checked='true'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" slot="start" checked='true'></ion-checkbox>
      <ion-label>sal</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary"slot="start" checked='true'></ion-checkbox>
      <ion-label>água</ion-label>
    </ion-item>
      

  

 <!-- <img src="https://images.unsplash.com/photo-1571336518494-5877ebd81ca2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!--<ion-tab-button tab="filtro">
        <ion-icon name="search"></ion-icon>
        <ion-label>Busca</ion-label>
      </ion-tab-button>-->

      <ion-tab-button tab="schedule">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>Salvos</ion-label>
      </ion-tab-button>
  
      
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
