<ion-header>
</ion-header>

<ion-content>

	<br/><br/><br/><br/><br/>
	<ion-item>
		<ion-label position="floating">Digite os ingreditentes que você tem</ion-label>
		<ion-input></ion-input>
  </ion-item>
  <br/><br/>
	<ion-item>
		<ion-label>açucar</ion-label>
		<ion-checkbox color="primary" slot="start" checked='true'></ion-checkbox>
	</ion-item>
	<ion-item>
		<ion-checkbox color="primary" slot="start" checked='true'></ion-checkbox>
		<ion-label>sal</ion-label>
	</ion-item>
	<ion-item>
		<ion-checkbox color="primary"slot="start" checked='true'></ion-checkbox>
		<ion-label>água</ion-label>
	</ion-item>
    

</ion-content>
