
<ion-header>
	<ion-toolbar color="primary">
		<br/>
		<ion-title>
			<strong>Geladeira Vazia</strong>
		</ion-title>
		<br/>
		<ion-avatar slot="end">
			<img src="https://randomuser.me/api/portraits/lego/8.jpg"></ion-avatar>
		</ion-toolbar>
	</ion-header>
	
	<ion-content>
		<br/><br/>
		<ion-text color="secundary">
			<div class="ion-text-center">

				<strong><ion-text color="primary">Sua geladeira está vazia?</ion-text></strong>

				<br/><br/>
				<img src="https://image.freepik.com/fotos-gratis/tiro-medio-mulher-confusa-na-cozinha_23-2148334516.jpg">
			</div>

			<div class="ion-text-center">
				<br/>
				<ion-button routerLink="/tabs">Vamos improvisar!</ion-button>    
			</div>

			
			

			
		<!--  <br/><br/>
		  <img width="400" height="300" src="https://images.unsplash.com/photo-1556910103-1c02745aae4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
		  <br/><br/>
		  <button ion-button color="primary">Danger</button>
		  <br/><br/>
		  <img width="400" height="300" src="https://images.unsplash.com/photo-1582482046923-66e1d09c6aa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=754&q=80">
          <br/><br/> <ion-icon name="fast-food-outline"></ion-icon>
           <br/><br/>
		  <ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon><ion-icon name="fast-food-outline"></ion-icon>
		  <br/><br/>-->
		  
		 
		

		

			</ion-text>
  
  
 
  
    

	
		</ion-content>

